

/* 

tttttttttt  eeeeee      aa      ll          ffffffff    oooo     xx   xx 
    tt      ee         aaaa     ll          ff        oo    oo    xx xx  
    tt      eeee      aa  aa    ll          ffffff   oo      oo    xxx   
    tt      ee       aa    aa   ll          ff        oo    oo    xx xx  
    tt      eeeeee  aa      aa  llllll      ff          oooo     xx   xx

*/


/*----------------------Main Color Palette----------------------*/
:root {
--sfwindow: rgb(33,33,33);
--sfsecondary: rgb(70,70,70);
}


/* ------------------------Window colors------------------------ */
:root {
--toolbar-bgcolor: var(--sfsecondary) !important;
--tabs-border-color: var(--sfsecondary) !important;
--lwt-sidebar-background-color: var(--sfwindow) !important;
--lwt-toolbar-field-focus: var(--sfsecondary) !important;
}

/* ----------------------------Tabs----------------------------- */
#tabbrowser-tabs:not([movingtab])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab
> .tab-stack
> .tab-background[multiselected='true'],
#tabbrowser-tabs:not([movingtab])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab
> .tab-stack
> .tab-background[selected='true'] {
background-image: none !important;
background-color: var(--toolbar-bgcolor) !important;
}

/* -----------------------Inactive tabs----------------------- */
#navigator-toolbox {
background-color: var(--sfwindow) !important;
}

/* ---------------------Tab bar/elements---------------------  */
#tabbrowser-tabs{
height: auto !important;
}

.tab-close-button {
display: block;
}
.tab-close-button:hover {
border-radius: 20px !important;
}
.tabbrowser-tab{
border-radius: 20px !important;
max-height: fit-content !important;
max-width: auto !important;
}
.tabbrowser-tab:not([pinned]) .tab-icon-image {
display: block !important;
border-radius: 20px !important;
}

.tabbrowser-tab[pinned]{
margin-left: 2px !important;
margin-right: 1px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab[first-visible-unpinned-tab] {
margin-inline-start: 0 !important;
}

.tab-background {
border-radius: 20px !important;
margin: 5px 0px !important;
}

.tab-background[selected]{
background-color: rgb(66, 154, 145) !important;
}

.tabbrowser-tab:is([visuallyselected='true'], [multiselected])
> .tab-stack
> .tab-background {
box-shadow: none !important;
}

.tabbrowser-tab[last-visible-tab='true'] {
padding-inline-end: 0 !important;
}

/* -----------------Inactive audio playing tabs----------------- */
.tabbrowser-tab[soundplaying]:not([selected]) .tab-background{
background-color: rgba(0, 128, 128, 0.25) !important;
}






/* ---------------------------Nav Bar--------------------------- */
#nav-bar:not([tabs-hidden='true']) {
border-radius: 20px !important;
box-shadow: none;
margin: 0 10px 5px 10px !important;
}




/* -------------------------- Url Bar -------------------------- */
#urlbar-input-container {
background-color: var(--sfwindow) !important;
border-radius: 20px !important;
}

#urlbar-container {
border-radius: 20px !important;
margin-left: 0 !important;
}

#urlbar-background{
border-radius: 20px !important;
}

#urlbar[focused='true'] > #urlbar-background {
box-shadow: none !important;
border-radius: 20px !important;
}

#urlbar[focused='false'] > #urlbar-background {
border-radius: 20px !important;
}

#navigator-toolbox {
border: none !important;
}




/* ------------------------Bookmarks bar------------------------  */
#PersonalToolbar{
border-radius: 20px !important;
margin: 0 10px 5px 10px !important;
}
#PersonalToolbar .bookmark-item{
border-radius: 20px !important;
}




/* -----------------------Toolbar Buttons----------------------- */
:root {
--toolbarbutton-border-radius: 13px !important;
--tab-border-radius: 13px !important;
--tab-block-margin: 0 !important;
}
.toolbaritem-combined-buttons{
border-radius: 13px !important;
}
.toolbaritem-combined-buttons toolbarbutton{
border-radius: 13px !important;
}

:root toolbarbutton>.toolbarbutton-icon{
border-radius: 13px !important;
}

:root #PanelUI-button>.toolbarbutton-icon{
border-radius: 13px !important;
}




/* ----------------targetting individual buttons----------------  */

/* :root:not([uidensity=compact]) #back-button:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #stop-button:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #refresh-button:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #forward-button:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #PanelUI-button:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #tabs-newtab-button:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #pageActionSeparator:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #pageActionButton:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #star-button-box:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #urlbar-zoom-button:not([disabled]):not([open]):hover>.toolbarbutton-icon,
:root:not([uidensity=compact]) #tracking-protection-icon-container:not([disabled]):not([open]):hover>.toolbarbutton-icon{
border-radius: 13px !important;
} */

